{% extends "base.html" %}
{% load static %}
{% block title %} Reset your password {% endblock %}

{% block content %}
{% comment %} หน้ากรอกpassword ใหม่  AA-0oo22{% endcomment %}
<div class="flex justify-center py-36">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">ตั้งค่ารหัสผ่านใหม่</h1>

        <form action="." method="post">
            {% csrf_token %}
            <div class="mb-4">
                {{ form.as_p }}
            </div>

            <p>
                <input type="submit" value="Change my password" class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md shadow hover:bg-blue-700 transition duration-300">
            </p>
        </form>
    </div>
</div> 

{% endblock %}