{% extends "base.html" %}
{% load static %}
{% block title %} Reset your password {% endblock %}

{% block content %}
{% comment %} หน้ากรอกอีเมล {% endcomment %}
<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-gray-50 p-6 rounded-md shadow-md text-white max-w-md w-full">
        <h1 class="text-2xl font-bold text-black mb-4">ลืมรหัสผ่านหรือคะ คุณลูกค้า...</h1>
        <p class="text-m text-black mb-6">กรอกอีเมลที่ใช้สมัครบัญชีที่ต้องการรีเซ็ตรหัสผ่านใหม่เลยค่ะ/ครับ</p>
        
        <form action="." method="post">
            <div class="mb-4">
                <label for="email" class="block text-sm font-bold mb-2 text-black">Email address</label>
                <input type="email" id="email" name="email" required class="w-full py-3 px-4 border border-gray-300 rounded-md text-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 shadow-sm" placeholder="you@example.com">
            </div>
            
            <p>
                <input type="submit" value="Send E-mail" class="mt-4 w-full py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded-md shadow">
            </p>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
