{% extends "base.html" %}
{% load static %}
{% block title %} Reset password {% endblock %}

{% block content %}
{% comment %} ไปหน้าล็อกอิน {% endcomment %}
<div class="flex flex-col items-center justify-center py-36">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full text-center">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">ตั้งค่ารหัสผ่านเรียบร้อยแล้ว</h1>
        <p class="text-gray-600 mb-6">รหัสผ่านของคุณถูกตั้งค่าแล้ว</p>
        <p>
            <a href="/login/" class="text-blue-500 hover:text-blue-700 font-semibold">เข้าสู่ระบบที่นี่</a>
        </p>
    </div>
</div>

   
{% endblock content %}